<div class="contents row">
  <div class="container">
  <%= form_with(model: @user, local: true) do |form| %>
    <h3>
      新規ユーザー登録
    </h3>
    <%= form.text_field :name, placeholder: "名前" %><br>
    <%= form.text_field :mail, placeholder: "メールアドレス" %><br>
    <%= form.text_field :password, placeholder: "パスワード" %><br>
    <%= form.text_field :gender, placeholder: "性別" %><br>
    <%= form.text_field :gender, placeholder: "年齢" %><br>
  <label>
    <input type="radio" name="RadioGroup1" value="0">男性
    <input type="radio" name="RadioGroup1" value="1">女性
  </label><br>
    <%= form.text_field :area, placeholder: "お住まいの地域" %><br>
    <%= form.text_field :area, placeholder: "病歴" %><br>
    <%= form.submit "登録" %>
  <% end %>
  </div>
</div>